<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to follow</p>
  <div class="panel-block">
    <aritcle class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Bill Gates</strong>
            <small>@billgates</small>
          </p>
        </div>
      </div>
    </aritcle>
  </div>
  <div class="panel-block">
    <aritcle class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Larry Page</strong>
            <small>@larrypage</small>
          </p>
        </div>
      </div>
    </aritcle>
  </div>
  <div class="panel-block">
    <aritcle class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Jeff Bezos</strong>
            <small>@jeffbezos</small>
          </p>
        </div>
      </div>
    </aritcle>
  </div>
  </nav>
</div>
